{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Challenge Leaderboard</h2>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Total Points</th>
                    <th>Challenges Participated</th>
                </tr>
            </thead>
            <tbody>
                {% for user in leaderboard_data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.total_points }}</td>
                    <td>{{ user.challenges_participated }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="mt-3">
        <a href="{{ url_for('challenges') }}" class="btn btn-primary">Back to Challenges</a>
    </div>
</div>
{% endblock %}
